.section1, p, address {
    margin-bottom: 20px; 
    border-bottom: 1px dashed black; 
    padding-bottom: 20px; 
}

header{
    text-align: center;
    margin-bottom: 20px;
}
header img{
    width: 100%;
}